<h3>Einleitung</h3>

<p>Hallo {{ name }}, Willkommen bei medocs!</p>
<p>
  Hier bei medocs nutzen wir Angular, um ein Programm zu erstellen, das der
  Nutzer im Webbrowser ausführen kann. Dazu muss der Nutzer nur die richtige
  Webadresse angeben. Jedes Programm besteht aus vielen Bauteilen (Komponente),
  die wir erstellen und in einer bestimmten Reihenfolge zusammensetzen und
  anzeigen.
</p>
<p>
  So ein Bauteil besteht aus drei Dateien. Die Datei, die die Elemente die
  dargestellt werden sollen enthält, ist die HTML Datei. Sie bestimmt von oben
  nach unten die Reihenfolge der Elemente wie Text, Button oder Eingabefeder.
</p>
<p>
  Die TS-Datei (.ts) enthält die Logik der Komponente. Sie lädt und berechnet
  die Dinge, die am Ende in der HTML Datei angezeigt werden.
</p>
<p>
  Die letzte Datei, die CSS-Datei bestimmt wie diese Elemente aussehen. Egal ob
  rund oder eckig, blau oder rot. Die CSS-Datei legt das aussehen und die
  Abstände fest.
</p>

<p>
  Wir werden uns aber erst mal nur um die TS-Datei kümmern und etwas Logik
  erstellen. Dazu musst du nur zwischen den Zeilen die markiert sind mit
  <span class="code">//Start</span> und <span class="code">//Ende</span> den
  Code ändern.
</p>
