<h4>Aufgabe 2 - Die For-Schleife</h4>
Hier gibt es nun etwas meht zu tun und wir lernen ein paar Elemente kennen die
man täglich beim Programmieren nutzt.
<br />
1. Navigiere zum Ordner aufgaben/aufgabe2 <br />
2. Öffne die .ts-file <br />
3. Finde die Methode "exerciseA()" dort steht deine nächste Aufgabe <br />

<h5>Teilaufgabe a Lösung:</h5>
<hr />
<p style="line-break: anywhere;">
  {{ exerciseA() }}
</p>
<div *ngIf="check('a')">Richtig!</div>
<hr />
<br />

1. Finde die Methode "exerciseB()" dort steht deine nächste Aufgabe <br />

<h5>Teilaufgabe b Lösung:</h5>
<hr />
<p style="line-break: anywhere;">
  {{ exerciseB() }}
</p>
<div *ngIf="check('b')">Richtig!</div>
<hr />
